body {
  background-color: #EDEDF4;
  font-family: 'Poiret One', cursive;
  color: #8093F1;
}

/************* HEADER ************/

header {
  text-align: center;
}

header h1 {
  font-size: 60px;
  background: -webkit-linear-gradient(#8093F1, #70E4EF);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

#start, #reset, #level {
  border: 3px double #70E4EF;
  border-radius: 40px;
  width: 140px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
}

#start:hover, #reset:hover {
  border-color: #8093F1;
  color: #70E4EF;
}

#reset, #level {
  display: none;
}

/************* MAIN ************/

main {
  display: none;
  margin: 0 auto;
}

.container {
  overflow: hidden;
}

#grid {
  margin: 20px auto;
  width: 612px;
  padding: 0;
}

li {
  height: 120px;
  width: 150px;
  float: left;
  border-radius: 90px;
  border-width: 3px;
  border-style: double;
  list-style-type: none;
  margin: 5px;
}

#first, #fourth {
  margin: 80px -8px;
}

#fourth {
  float: right;
}

#first  { border-color: violet;  }
#second { border-color: #40E0D0; }
#third  { border-color: #8A2BE2; }
#fourth { border-color: #FF4500; }
#fifth  { border-color: #00FF00; }
#sixth  { border-color: #FFFF00; }

/************* FOOTER ************/

footer {
  text-align: center;
  margin: 20px auto;
}

/************* Animation ************/

.message {
  display: none;
  background: #EDEDF4;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
  font-size: 40px;
}

.show {
  display: flex;
  align-items: center;
  justify-content: center;
}
